/* 侧边栏样式 */
/*隐藏checked复选框*/
#sidemenu{
    display: none;
}

#sidemenu:checked + aside {
    /*为被选中的sidemenu后的aside设置属性（紧邻）*/
    left: 0;
    /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
}

#sidemenu:checked ~ #wrap {
    /*为被选中的sidemenu后的wrap设置属性（非紧邻）*/
    padding-left: 20px;
    left: 200px;
}

aside {
    /*侧边栏,初始位置为-200px，即隐藏效果*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: -220px;
    width: 220px;
    background: black;
    transition: 0.2s ease-out;
    /*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
}

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
}
h2 a:hover{
    color: #99CCFF;
}

/*控制侧边栏进出的按钮（外部包裹）*/
#wrap {
    position: absolute;
    left: 30px;
    /*左外边距*/
    margin-left: 20px;
    /*内边距*/
    padding: 10px;
    top: 100px;
    transition: 0.2s ease-out;

    /*border-style: solid;*/
    /*border-color: yellow;*/
}

/*控制侧边栏进出的按钮（内部文字样式）*/
.menulabel {
    /*控制侧边栏进出的按钮*/
    background: #66ccff;
    /*圆角边框*/
    border-radius: 70px;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: Courier New;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;

    /*position: absolute;*/
    /*left: 30px;*/
}

.menulabel:hover {
    background: #FFFF99;
}

#sideul li {
    list-style: none;
    color: white;
    width: 100%;
    height: 1.8em;
    font-size: 1.5em;
    text-align: center;
}
.menua {
    text-decoration: none;
    height: 10px;
    color: white;
}
.menua:hover{
    text-decoration: none;
}

#sideul li:hover {
    color: #99CCFF;
}
li{
    cursor: pointer;
    padding-top: 10px;
}
li:hover{
    color: #99CCFF;
}