.myblock{
    display: block;
}
.myTableWidth-2{
    width: 20px;
}
.myTableWidth-3{
    width: 30px;
}
.myTableWidth-5{
    width: 50px;
}

.middleModal{
    width: 300px;
}

.smallModal{
    width: 280px;
}

.myTextCenter{
    vertical-align: middle;
}
.visible{
    height: 20px;
    width: 20px;
    margin-top: 0px;
    vertical-align: middle;
}
.iframe-wrapper{
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    width: 1000px;
    height: 700px;
}
.span2pass{
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    background: transparent;
    font-family: inherit;
    border: none;
    outline: none;
    resize: none;
    height:48px;
    line-height:24px;
    border-bottom: 1px solid #e7eaf1;
    color:#8590a6;
    float:left;
    width:90%;
    margin-top:10px;
    vertical-align: middle;
}

.alertx{
    /*border: 1px solid;*/
}
.m-b-md {
    margin-bottom: 30px;
}
.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.imgline{
    display: inline;
}

.inputinline{
    display: inline;
}