.paginationdiv{
    position: relative;
    top: 80%;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li.active {
    background-color: #4CAF50;
    /*background-color: #337ab7;*/
    color: white;
}

ul.pagination li:hover:not(.active) {background-color: #ddd;}